<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="C:/Users/Krystian/IdeaProjects/Test2/src/parametrizationTest.java">
        <classes>
            <class name="parametrization.parametrizationTest">
                <methods>
                    <include name="setupSelenium"></include>
                    <include name="testCase1"></include>
                    <include name="testCase2"></include>
                    <include name="quitDriver"></include>
                </methods>
            </class>

        </classes>
    </test>
</suite>