<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Krystian/IdeaProjects/Test2/src/GroupingTest.java">
        <groups>
            <run>
                <exclude name="sanity">

                </exclude>
            </run>

        </groups>
        <classes>
            <class name="GroupingTest">


            </class>

        </classes>
    </test>
</suite>